<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />

<style>
.numradius {
	border: 2px solid black;
	background-color: white;
	color: black;
}

.card-body {
	height: 200px;
}
</style>
</head>
<body>
	<div class="row" style="background-color: #69d1f1; color: white;">
		<div class="col-md-1" align="right">
			<img style="width: 83px;" src="/images/CBEC.png">
		</div>

		<div class="col-md-9 mt-2" align="left">
			<p>
				<strong> Central Board of Indirect Tax and Customs </strong>
			</p>
			<p>
				<strong> FPO Module - Imports </strong>
			</p>
		</div>


		<div class="col-md-2 mt-2">
			<p>Indian Customs EDI System</p>
			<p>Foreign Post Office - Bangalore</p>
		</div>

	</div>
	<div class="container">
		<div class="mt-4" align="center">
			<h2>Processed for EDI Bill of Entry</h2>
		</div>


		<div>
			<a href="dash"><button type="button" class="btn btn-info">Back
					to Dashboard</button> </a>
		</div>
		<br>
		<table class="table table-bordered" id="asstTable">
			<thead>
				<tr>
					<th scope="col">Sl.No.</th>
					<th scope="col">CIN No.</th>
					<th scope="col">ITEM_ID.</th>
					<th scope="col">ITEM_DESC.</th>
					<th scope="col">Date</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1,iter : ${check}">
					<td th:text="${iter.index+1}">1</td>
					<td th:text="${s1.id}">464654654</td>
					<td th:text="${s1.ITEM_ID}">5648912</td>
					<td th:text="${s1.ITEM_DESC}">Cotten pant</td>
					<td th:text="${s1.POSTINGDT}">01.01.2020</td>
					<td align="center">
					
					<i class="fa fa-eye" aria-hidden="true"	th:id="${s1.id}" onclick="viewDetail(this);"></i> 
					<i class="fas fa-edit" aria-hidden="true" th:id="${s1.id}"	onclick="viewEdit(this);"></i>
					
					</td>
				</tr>


			</tbody>
		</table>
		<br>
	</div>
</body>
</html>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#asstTable").dataTable({
			"processing" : true,
			"paging" : true
		});
	});

	function viewDetail(e) {
		//alert(e.id);
		window.location.href = "/asse_report?id=" + e.id;
	}

	function viewEdit(e) {
		window.location.href = "/asse_edit?id=" + e.id;
	}
</script>
