
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Customs examination/ Assessment Report</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="margin: 3%; font-weight: 500;">

	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4" align='right'>
			<p>Original for Postal Department</p>
			<p>Duplicate for Customs Department</p>
			<p>Triplicate for Address</p>
		</div>
	</div>
	<div align='center'>
		<p>OFFICE OF THE SUB POSTMASTER (HSG-I), BENGALURU FOREIGN POST,
			BENGALURU - 560018</p>
		<p>CUSTOMS EXAMINATION / ASSESSMENT REPORT</p>
	</div>
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-2">
			<p>LMA WAT BILL</p>
		</div>
		<div class="col-md-2">
			<p th:text="${check.id}">BILL : ${CIN_NO}</p>
		</div>
		
		<div class="col-md-2">
			<p>
				<span> DATE : </span> <span th:text="${check.POSTINGDT}"> ${date} </span>
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<span>DATE OF EXAMINATION ________ </span>
			</p>
		</div>

	</div>
	
	<form action="#" th:action="@{/edit}" method="post">

	<table class="table table-bordered" style="font-weight: 500;">
		<thead>
			<tr>
				<th scope="col" rowspan="2" width=15%;>SPA NO.NAME AND FULL
					ADDRESS OF ADDRESS</th>
				<th scope="col" rowspan="2">WEIGHT</th>
				<th scope="col" rowspan="2" width=15%;>FULL DESCRIPTION OF
					CONTENTS / TARIFF SUB HEADING</th>
				<th scope="col" colspan="1" width=10%;>DECLARED VALUE</th>
				<th scope="col" rowspan="2" colspan="2">ASSESSABLE VALUE
					(INCLUDING FREIGHT, HANDLING & INSURANCE) in INR</th>
				<th scope="col" rowspan="2" colspan="2">RATE OF DUTY (%)</th>
				<th scope="col" rowspan="2" colspan="2">AMOUNT OF DUTY ( in
					Rs.)</th>
				<th scope="col" rowspan="2" width=10%;>LOCAL TRACKING
					NO./REMARKS</th>
			</tr>
			<tr>
				<th scope="col" colspan="1">FOREIGN CURRENCR</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="7" th:text="${check.ITEM_ID}">${itemid}<br> <br> MANISH KANDKUR
					NO98 2ND MAIN 7TH CROSS RMV 2ND DOLLAR COLONY BENGALURU - 560046
				</td>
				<input type="hidden" th:value="${check.id}"  name="id">
				<td rowspan="7"><input type="number" th:value="${check.NETWT}"  name="NETWT"></td>
				<td rowspan="4" ><input type="text" th:value="${check.ITEM_DESC}"  name="ITEM_DESC"></td>
				<td rowspan="4">USD/EURO/GBP/AUD/SGD/CHF <br> Other___
				</td>
				<td width=5%;>DECLARED VALUE (A)</td>
				<td>20,400</td>
				<td>BCD (b)</td>
				<td>10</td>
				<td>On (a)</td>
				<td>2471</td>
				<td>2020-47052</td>
			</tr>
			<tr>
				<td>1.FREIGHT (20% OF D.V) (B)</td>
				<td>${DUTY}</td>
				<td>SWS</td>
				<td>10</td>
				<td>On (b)</td>
				<td>247</td>
				<td>Non EDI Coide No 729</td>
			</tr>
			<tr>
				<td rowspan="2">2.INSR (1.125% OF D.V) (C)</td>
				<td rowspan="2">230</td>
				<td colspan="1">IGST (d)</td>
				<td colspan="1">28</td>
				<td colspan="1">On (a)+(b)+(c)</td>
				<td colspan="1">7680</td>
				<td colspan="1">IEC No</td>
			</tr>
			<tr>
				<td>IGST Compensatory cess
				</th>
				<td>
				</th>
				<td>
				</th>
				<td>
				</th>
				<td>GSTIN No
				</th>
			</tr>

			<tr>
				<td colspan="1">TARIFF SUB HEADING 9804 9000</td>
				<td colspan="1">EXCHANGE RATE</td>
				<td colspan="1">3.HNDLG [1% OF (A)+(B)+(C)]</td>
				<td colspan="1"></td>
				<td colspan="3">TOTAL DUTY PAYABLE</td>
				<td colspan="1">10398</td>
				<td colspan="1">PAN NO</td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td>TOTAL (ASSESSABLE) (a)</td>
				<td>24710</td>
				<td colspan="5" align="center" style="height: 150px;"><u>DOCUMENTS
						RELIED UPON FOR ASSESSMENT</u></td>
			</tr>
		</tbody>
	</table>
	<br>

	<div class="row mt-5">
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<p>Prepared by</p>
		</div>

		<div class="col-md-1">
			<p>Verified by</p>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3" align="center">
			<p>Signature</p>
			<p>Name of the inspector / Supdt (in-situ)</p>
		</div>
		<div class="col-md-2" align="center">
			<p>Signature</p>
			<p>Name of the Supdt</p>

		</div>
		<div class="col-md-2" align="center">
			<p>Signature</p>
			<p>AC/DC (one lakh above)</p>

		</div>

	</div>

	<div>
		<button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
	</div>
	
	  </form>


</body>
</html>