<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header">

</head>
<style>
.numradius {
	border: 1px solid black;
	background-color: #17a2b8;
	color: white;
	float: right;
	padding: 7px;
}

.red {
	background-color: #0cf37d;
}

.blue {
	background-color: yellow;
}

.c {
	background-color: red;
}
</style>
<body>

	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Pending Postal Articles for Clearance</h2>
		</div>


		<div>
			<a href="dash"><button type="button" class="btn btn-info">Back
					to Dashboard</button> </a> <span class="numradius">&nbsp;541&nbsp;</span>
		</div>
		<br>

		<table class="table table-bordered" id="asstTable">
			<thead>
				<tr>
					<th scope="col">Sl.No.</th>
					<th scope="col">Tracking No.</th>
					<th scope="col">CIN No.</th>
					<th scope="col">Type of parcel/mail class</th>
					<th scope="col">Place of Origin</th>
					<th scope="col">Date of Posting at place of origin</th>
					<th scope="col">Date of actual arrival at FPO</th>
					<th scope="col">Days for pendency</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1,iter : ${check}">
					<td th:text="${iter.index+1}">1</td>
					<td th:text="${s1.id}">ABC1234XYZ</td>
					<td>125456I</td>
					<td>Letter</td>
					<td th:text="${s1.RECP_CITY}">Italy</td>
					<td th:text="${s1.POSTINGDT}">01.01.2020</td>
					<td>03.01.2020</td>
					<td class="clrbg">3</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="col-md-12 mb-5" align="center">

			<input id="printbtn" class="btn btn-primary" type="button"
				value="Print this page" onclick="window.print();">
		</div>
	</div>
</body>


<script type="text/javascript">
		$(document).ready(function() {
			$("#asstTable").dataTable({
				"processing" : true,
				"paging" : true
			});
		});

		$(document).ready(function() {
			$('.clrbg').each(function() {
				var text = parseInt($(this).text());
				if (1 < text && text <= 7) {
					$(this).addClass('red');
				} else if (8 < text && text <= 30) {
					$(this).addClass('blue');
				} else {
					$(this).addClass('c');
				}
			})
		})
	</script>

</html>
