<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>

<style>
.form_txt {
	font-weight: 700
}

.col-form-label {
	padding-top: 2px;
}

.col-form-label1 {
	padding-top: 9px;
}

.bg_item {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.bg_item1 {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.form-group {
	margin-bottom: 0rem;
}

.scroll_down {
	height: 425px;
	overflow-x: hidden;
	overflow-y: auto;
}

.numradius {
	border: 2px solid black;
	background-color: white;
	color: black;
}

hr {
	border-top: 1px solid rgb(0, 0, 139);
}

.breadcrumb-pagination {
	width: 100%;
	border-bottom: 1px solid #E1E6EB;
	text-align: center;
	color: #B3B7C1;
}

.breadcrumb-pagination div {
	width: 15%;
	display: inline-block;
}

.breadcrumb-pagination div span {
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	width: 36px;
	font-size: 20px;
}

.completed span {
	background-color: NONE;
	color: #95db89;
	border: 2px solid #95db89;
}

.active span {
	background-color: #00abc9;
	color: #fff;
}

.todo span {
	background-color: none;
	color: #E1E6EB;
	border: 2px solid #E1E6EB;
}

.breadcrumb-pagination div p {
	text-align: center;
	line-height: 0;
	margin: 10px auto 0px;
}

.active p {
	border-bottom: 2px solid #00abc9;
	padding-bottom: 20px;
	margin-bottom: 0px !important;
	color: #3c4043;
	font-weight: 700;
}

.completed p {
	color: #bsb7c1;
}

.completed span::before {
	content: '\2713'
}

.modal {
    top: 120px;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 1121px;
    
}
}




</style>

<body style="background: #d6dcd9">

	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Process Electronic Advance Data</h2>
			<h3>Item wise</h3>
		</div>
		<div class="mt-4" align="right">
			<p class="lab_txt">
				No of Items : <span class="numradius"> <strong id="noOfItems"
					th:text="2">&nbsp;2&nbsp;</strong>
				</span>
			</p>
		</div>
		<div class="form-group row mt-4">
			<div class="col-md-2" align="center">
				<label class="lab_txt">TRACKING_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.ITEM_ID}"> <input type="hidden"
					name="MODIFIED" th:value="${head.MODIFIED}" id="modify">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">DATE </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POSTINGDT}">
			</div>
			<div class="col-md-1" align="center">
				<label class="lab_txt">ORGIN_POST </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POST_ORG_CD}">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">FPO ALLOCATED</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.FPO_CODE}">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">NATURE TRANSACTION</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.NATURE_TYPE_CD}">
			</div>
			<div class="col-md-3" align="center">
				<label class="lab_txt">CIN_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.id}" id="inputPassword">
			</div>
		</div>
		<!--    muchos disgustimos   -->
		<div class="breadcrumb-pagination mt-3">
			<div class="completed">
				<span>1</span>
				<p>Summary</p>
			</div>
				<div class="active">
				<span>2</span>
				<p>Assessment</p>
			</div>
			<div class="todo">
				<span>3</span>
				<p>Query</p>
			</div>
			<div class="todo">
				<span>4</span>
				<p>Exam Order</p>
			</div>
			<div class="todo">
				<span>5</span>
				<p>Proceed to Submit</p>
			</div>
		</div>
		<div class="scroll_down">
			<div class="row">
				<div class="col-md-12">
					<div th:each="s1,iter : ${check}" id="position1">
						<div
							style="background: #B0B0B0; border-radius: 8px; padding: 10px;">
							<div class="bg_item1">
								<div class="mt-2" align="center">
									<h4>Declared Details</h4>
								</div>
								<div class="form-group row mt-2">
									<p class="col-sm-1 lab_txt col-form-label1">ITEM</p>
									<div class="col-sm-2">
										<input id="itemNoChange" style="font-weight: 700"
											readonly="readonly" class="form-control form_txt"
											name="ITEM_NO" th:value="${s1.ITEM_NO}">
									</div>
									<p class="col-sm-1 "></p>

									<p class="col-sm-1 lab_txt col-form-label1">DESC</p>
									<div class="col-sm-7">
										<input id="itemDESChange" type="text" readonly="readonly"
											class="form-control form_txt" name="ITEM_DESC"
											th:value="${s1.ITEM_DESC}">
									</div>
								</div>
								<div class="form-group row">
									<p class="col-sm-1 lab_txt col-form-label1">HS</p>
									<div class="col-sm-3">
										<input id="itemCthChange" type="number" readonly="readonly"
											onKeyPress="if(this.value.length==8) return false;"
											class="form-control form_txt" name="CTH" th:value="${s1.CTH}">
									</div>

									<p class="col-sm-1 lab_txt col-form-label1">REVISED_HS</p>
									<div class="col-sm-3">
										<input id="itemRevisedCthChange" type="number"
											readonly="readonly"
											onKeyPress="if(this.value.length==8) return false;"
											class="form-control form_txt" name="CTH_REVISED"
											th:value="${s1.CTH_REVISED}">
									</div>
									<p class="col-sm-1 lab_txt col-form-label1">NOU</p>
									<div class="col-sm-3">
										<input id="itemNouChange" type="number" readonly="readonly"
											onKeyPress="if(this.value.length==6) return false;"
											class="form-control form_txt" name="NOU" th:value="${s1.NOU}">
									</div>
								</div>
								<div class="form-group row">
									<p class="col-sm-1 lab_txt col-form-label1">NETWT</p>
									<div class="col-sm-3">
										<input id="itemNetWtChange" type="number" readonly="readonly"
											class="form-control form_txt" name="NETWT"
											th:value="${s1.NETWT}">
									</div>
									<p class="col-sm-1 lab_txt col-form-label1">DECL_VAL</p>
									<div class="col-sm-3">
										<input id="itemDeclValChange" type="number"
											readonly="readonly"
											onKeyPress="if(this.value.length==16) return false;"
											class="form-control form_txt" name="DECL_VAL"
											th:value="${s1.DECL_VAL}">
									</div>


									<p class="col-sm-1 lab_txt col-form-label1">CURRCD</p>
									<div class="col-sm-3">
										<input id="itemCurCdChange" maxlength="3" readonly="readonly"
											onkeypress="return /[A-Z]/i.test(event.key)"
											class="form-control form_txt" name="CURRCD"
											th:value="${s1.CURRCD}">
									</div>
								</div>
								<div class="form-group row">
									<p class="col-sm-1 lab_txt col-form-label1">ORGN_CD</p>
									<div class="col-sm-3">
										<input id="itemOrgCntryCdChange" type="number"
											readonly="readonly"
											onKeyPress="if(this.value.length==2) return false;"
											class="form-control form_txt" name="ORIGCNTRYCD"
											th:value="${s1.ORIGCNTRYCD}">
									</div>
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">Ex. RATE</label>
									<div class="col-sm-3">
										<input id="itemRateChange" type="text" readonly="readonly"
											class="form-control form_txt" name="RATE"
											th:value="${s1.RATE}">
									</div>
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label"
										style="padding-top: 8px;">DUTY</label>
									<div class="col-sm-3">
										<input id="itemDutyChange" type="text" readonly="readonly"
											class="form-control form_txt" name="DUTY"
											th:value="${s1.DUTY}">
									</div>
								</div>

							</div>

							<div class="bg_item1 mt-1">
								<div class="form-group row">
									<p class="col-sm-1 lab_txt col-form-label1">CTH</p>
									<div class="col-sm-5">
										<select id="itemCth" class="custom-select"
											th:value="${s1.GEN_CTH}" name="GEN_CTH">
											<option>Select CTH Value</option>
											<div th:each="s5,iter : ${genCth}">
												<option th:text="${s5}"></option>
											</div>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1">
										<label class="lab_txt">DUTY</label>
									</div>
									<div class="col-md-1">
										<label class="lab_txt">R.O. DUTY</label>
									</div>
									<div class="col-md-2">
										<label class="lab_txt">NOTN</label>
									</div>
									<div class="col-md-2">
										<label class="lab_txt">SL.NO</label>
									</div>
									<div class="col-md-2">
										<label class="lab_txt">RATE OF DUTY</label>
									</div>
									<div class="col-md-2">
										<label class="lab_txt">DUTY AMOUNT</label>
									</div>
									<div class="col-md-2">
										<label class="lab_txt">DUTY AMOUNT FG</label>
									</div>
								</div>

								<div class="row">
									<div class="col-md-1">
										<label class="lab_txt">BCD</label>
									</div>
									<div class="col-md-1">
										<input type="text" class="form-control form_txt"
											readonly="readonly" value="35%">

									</div>
									<div class="col-md-2">
										<select id="itemBcdNoNtChange" class="custom-select"
											th:value="${s1.BCD_NOTN}" name="BCD_NOTN">
											<option></option>
										</select>
									</div>
									<div class="col-md-2">
										<select id="itemBcdNsNoChange" class="custom-select"
											th:value="${s1.BCD_NSNO}" name="BCD_NSNO">
											<option></option>
										</select>
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemBcdRtaChange" type="text"
											class="form-control form_txt" name="BCD_RTA"
											th:value="${s1.BCD_RTA}">
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemBcdAmtChange" type="text"
											class="form-control form_txt" name="BCD_AMT"
											th:value="${s1.BCD_AMT}">
									</div>
									<div class="col-md-2">
										<input id="itemBcdAmtFgChange" type="text" readonly="readonly"
											class="form-control form_txt " name="BCD_AMT_FG"
											th:value="${s1.BCD_AMT_FG}">
									</div>
								</div>

								<div class="row mt-2">
									<div class="col-md-1">
										<label class="lab_txt">IGST</label>
									</div>
									<div class="col-md-1">
										<input type="text" class="form-control form_txt"
											readonly="readonly" value="28%">

									</div>
									<div class="col-md-2">
										<strong><select id="itemIgstNoNtChange"
											class="custom-select" th:value="${s1.IGST_NOTN}"
											name="IGST_NOTN">
												<option></option>
										</select></strong>
									</div>
									<div class="col-md-2">
										<select id="itemIgstNsNoChange" class="custom-select"
											th:value="${s1.IGST_NSNO}" name="IGST_NSNO">
											<option></option>
										</select>
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemIgstRtaChange" type="text"
											class="form-control form_txt" name="IGST_RTA"
											th:value="${s1.IGST_RTA}">
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemIgstAmtChange" type="text"
											class="form-control form_txt" th:value="${s1.IGST_AMT}"
											name="IGST_AMT">
									</div>
									<div class="col-md-2">
										<input id="itemIgstAmtFgChange" type="text"
											readonly="readonly" class="form-control form_txt "
											th:value="${s1.IGST_AMT_FG}" name="IGST_AMT_FG">
									</div>
								</div>

								<div class="row mt-2">
									<div class="col-md-1">
										<label class="lab_txt">SW</label>
									</div>
									<div class="col-md-1">
										<input type="text" class="form-control form_txt"
											readonly="readonly" value="10%">

									</div>
									<div class="col-md-2">
										<select id="itemSwNoNtChange" class="custom-select"
											th:value="${s1.SW_NOTN}" name="SW_NOTN">
											<option></option>
										</select>
									</div>
									<div class="col-md-2">
										<select id="itemSwNsNoChange" class="custom-select"
											th:value="${s1.SW_NSNO}" name="SW_NSNO">
											<option></option>
										</select>
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemSwRtaChange" type="text"
											class="form-control form_txt" th:value="${s1.SW_RTA}"
											name="SW_RTA">
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemSwAmtChange" type="text"
											class="form-control form_txt" th:value="${s1.SW_AMT}"
											name="SW_AMT">
									</div>
									<div class="col-md-2">
										<input id="itemSwAmtFgChange" type="text" readonly="readonly"
											class="form-control form_txt " th:value="${s1.SW_AMT_FG}"
											name="SW_AMT_FG">
									</div>
								</div>

								<div class="row mt-2">
									<div class="col-md-6"></div>
									<div class="col-md-2">
										<label class="lab_txt">TOTAL DUTY / FG FOR ITEM</label>
									</div>
									<div class="col-md-2">
										<input readonly="readonly" id="itemDutyChange" type="text"
											class="form-control form_txt" th:value="${s1.DUTY}"
											name="DUTY">
									</div>
									<div class="col-md-2">
										<input id="itemDutyFgChange" type="text" readonly="readonly"
											class="form-control form_txt " th:value="${s1.DUTY_FG}"
											name="DUTY_FG">
									</div>
								</div>
							</div>
							<div class="mt-3" align="right">
								<button type="button" class="btn btn-info" onclick="goBack()">Back</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-8"></div>
			<div class="col-md-2">
				<label class="lab_txt">TOTAL DUTY</label>
			</div>
			<div class="col-md-2">
				<input readonly="readonly" id="itemSwAmtChange" type="text"
					class="form-control form_txt" name="BCD_AMT">
			</div>
		</div>


		<div class="row mt-2">
			<div class="col-md-8"></div>
			<div class="col-md-2">
				<label class="lab_txt">TOTAL DUTY FG</label>
			</div>
			<div class="col-md-2">
				<input id="itemSwAmtFgChange" type="text" readonly="readonly"
					class="form-control form_txt " name="BCD_AMT_FG">
			</div>
		</div>
	</div>
	
		<!-- Modal 2 -->
				<div id="myModal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div> -->
							<div class="modal-body">
								<h2>System by default processess the postal article data for
									the tariff item "9804" as instended for personal use.</h2> <br> 									
									<h5>If found otherwise</h5>
									<p>1. Select appropriate cth and assess accordingly.</p>
									<p align="center">(or)</p>
									<p>2. Process in edi bill of entry through MB module within this application of imports which are commercial in nature.</p>
							</div>
							<div class="modal-footer">
								<button data-dismiss="modal" class="btn btn-primary">OK</button>
							</div>
						</div>
					</div>
				</div>
				<br> <br>
</body>
<script src="/js/ead_item.js"></script>
</html>
