<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>
<style>
.form_txt {
	font-weight: 700
}

.col-form-label {
	padding-top: 2px;
}

.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.form-group {
	margin-bottom: 0rem;
}

.scroll_down {
	height: 425px;
	overflow-x: hidden;
	overflow-y: auto;
}

.numradius {
	border: 2px solid black;
	background-color: white;
	color: black;
}

hr {
	border-top: 1px solid rgb(0, 0, 139);
}

.breadcrumb-pagination {
	width: 100%;
	border-bottom: 1px solid #E1E6EB;
	text-align: center;
	color: #B3B7C1;
}

.breadcrumb-pagination div {
	width: 15%;
	display: inline-block;
}

.breadcrumb-pagination div span {
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	width: 36px;
	font-size: 20px;
}

.completed span {
	background-color: NONE;
	color: #95db89;
	border: 2px solid #95db89;
}

.active span {
	background-color: #00abc9;
	color: #fff;
}

.todo span {
	background-color: none;
	color: #E1E6EB;
	border: 2px solid #E1E6EB;
}

.breadcrumb-pagination div p {
	text-align: center;
	line-height: 0;
	margin: 10px auto 0px;
}

.active p {
	border-bottom: 2px solid #00abc9;
	padding-bottom: 20px;
	margin-bottom: 0px !important;
	color: #3c4043;
	font-weight: 700;
}

.completed p {
	color: #bsb7c1;
}

.completed span::before {
	content: '\2713'
}
</style>
<body style="background: #d6dcd9">
	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Process Electronic Advance Data</h2>
			<h3>EAD Query</h3>
		</div>


		<div class="form-group row mt-4">
			<div class="col-md-2" align="center">
				<label class="lab_txt">TRACKING_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.ITEM_ID}">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">DATE </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POSTINGDT}">

			</div>
			<div class="col-md-1" align="center">
				<label class="lab_txt">ORGIN_POST </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POST_ORG_CD}">

			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">FPO ALLOCATED</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.FPO_CODE}">
			</div>

			<div class="col-md-2" align="center">
				<label class="lab_txt">NATURE TRANSACTION</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.NATURE_TYPE_CD}">

			</div>
			<div class="col-md-3" align="center">
				<label class="lab_txt">CIN_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.id}" id="inputPassword">
			</div>
		</div>

		<!--    muchos disgustimos   -->
		<div class="breadcrumb-pagination mt-3">

			<div class="completed">
				<span></span>
				<p>Summary</p>
			</div>
			<div class="active">
				<span>2</span>
				<p>Query</p>
			</div>

			<div class="todo">
				<span>3</span>
				<p>Exam Order</p>
			</div>
			<div class="todo">
				<span>4</span>
				<p>Proceed to Submit</p>
			</div>

		</div>



		<form th:action="@{/editcallmemo}" method="post">
			<input type="hidden" name="cinNo" th:value="${head.id}"> <input
				type="hidden" name="ITEM_ID" th:value="${head.ITEM_ID}"> 
			<div class="row mt-5">
				<div class="col-md-1">
					<label class="lab_txt col-form-label">Item No</label>
				</div>
				<div class="col-md-3">
					<label class="lab_txt col-form-label">Desc</label>
				</div>
				<div class="col-md-2">
					<label class="lab_txt col-form-label">CTH</label>
				</div>
				<div class="col-md-6">
					<label class="lab_txt col-form-label">Clarification Required From Receiver </label>
				</div>
			</div>

			<div class="row mt-2" th:each="item,iter : ${itemEad}">
				<div class="col-md-1">
					<input type="number" style="font-weight: 700"
													class="form-control form_txt" readonly="readonly"
													th:value="${item.ITEM_NO}" name="ITEM_NO">
				</div>
				<div class="col-md-3">

					<input type="text" style="font-weight: 700"
													class="form-control form_txt" readonly="readonly"
													th:value="${item.ITEM_DESC}" name="ITEM_DESC">
				</div>
				<div class="col-md-2">
					<input type="text" style="font-weight: 700"
													class="form-control form_txt" readonly="readonly"
													th:value="${item.CTH}" name="CTH">
				</div>
				<div class="col-md-6">

					<textarea class="form-control" name="query"
						id="itemRemarks" rows="3"></textarea>
				</div>

			</div>

			<br> <br>
			<table class="table mt-3">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Sl No</th>
						<th scope="col">Default Query</th>
						<th scope="col">Select</th>

					</tr>
				</thead>
				<tbody>
					<tr class="check">
						<th scope="row">1</th>
						<td id="queryOne"></td>
						<td><input type="checkbox" name="defualtQueryOne" 
							value="1"></td>

					</tr>
					<tr class="check">
						<th scope="row">2</th>
						<td id="queryTwo"></td>
						<td><input type="checkbox" name="defualtQueryTwo" 
							value="2"></td>
					</tr>

				</tbody>
			</table>

			<div class="form-group mb-3">
				<br> <label class="lab_txt">Departmental Comment : [max 2000
					characters]</label>
				<textarea type="text" class="form-control" name="queryRemarks" rows="5"></textarea>
			</div>

			<div class="row">
			<div class="col-md-5"></div>
				<div class="col-md-4">
					<button type="button" class="btn btn-info" onclick="goBack()">Back</button>
					<button type="button" id="lock" onclick="enableNum()"
						class="btn btn-success">Submit</button>
					<button type="button" class="btn btn-info" th:id="${head.id}"
						onclick="viewDetail1(this);">Next</button>
				</div>
				<div class="col-md-3" align="left">
					<button type="button" id="randomNum" class="btn btn-success" data-toggle="modal"
					data-target="#exampleModal"
						disabled>Generate Document Call Letter</button>
				</div>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<!-- <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div> -->
						<div class="modal-body">
							<h4>If query is raised assessment can be completed only after arrival of the article.</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<br>
	</div>

</body>

<script>
	function goBack() {
		window.history.back();
	}

	function viewDetail1(e) {
		//alert(e.id);
		window.location.href = "/order?id=" + e.id;
	}
	
	function enableNum() {
		document.getElementById("randomNum").disabled = false;
	}
	
	var developerData = {};
	var resObj = $.ajax({
		url : '/getDefualtQuery',
		data : JSON.stringify(developerData),
		dataType : "json",
		contentType : "application/json",
		type : "post",
		success : function(data) {
			$("#queryOne").text(data[0]);
			$("#queryTwo").text(data[1]);
			$("#queryThree").text(data[2]);
			console.log(data);
			/* $.each(data, function(i, item) {
				$('#itemSwNsNoChangeAdd').append($('<option>', {
					text : item
				}));
				
			}); */
		},
		fail : function(rs, e) {
			console.log(rs, responseText);
		}
	});
</script>
</html>