<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>

<style>
.form_txt {
	font-weight: 700
}

.col-form-label {
	padding-top: 2px;
}

.col-form-label1 {
	padding-top: 9px;
}

.bg_item {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.bg_item1 {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.form-group {
	margin-bottom: 0rem;
}

.scroll_down {
	height: 425px;
	overflow-x: hidden;
	overflow-y: auto;
}

.numradius {
	border: 2px solid black;
	background-color: white;
	color: black;
}

hr {
	border-top: 1px solid rgb(0, 0, 139);
}

.breadcrumb-pagination {
	width: 100%;
	border-bottom: 1px solid #E1E6EB;
	text-align: center;
	color: #B3B7C1;
}

.breadcrumb-pagination div {
	width: 15%;
	display: inline-block;
}

.breadcrumb-pagination div span {
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	width: 36px;
	font-size: 20px;
}

.completed span {
	background-color: NONE;
	color: #95db89;
	border: 2px solid #95db89;
}

.active span {
	background-color: #00abc9;
	color: #fff;
}

.todo span {
	background-color: none;
	color: #E1E6EB;
	border: 2px solid #E1E6EB;
}

.breadcrumb-pagination div p {
	text-align: center;
	line-height: 0;
	margin: 10px auto 0px;
}

.active p {
	border-bottom: 2px solid #00abc9;
	padding-bottom: 20px;
	margin-bottom: 0px !important;
	color: #3c4043;
	font-weight: 700;
}

.completed p {
	color: #bsb7c1;
}

.completed span::before {
	content: '\2713'
}
</style>

<body style="background: #d6dcd9">

	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Process Electronic Advance Data</h2>
			<h3>Item wise</h3>
		</div>

		<div class="mt-4" align="right">
			<p class="lab_txt">
				No of Items : <span class="numradius"> <strong id="noOfItems"
					th:text="2">&nbsp;2&nbsp;</strong>
				</span>
			</p>
		</div>

		<div class="form-group row mt-4">
			<div class="col-md-2" align="center">
				<label class="lab_txt">TRACKING_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.ITEM_ID}"> <input type="hidden"
					name="MODIFIED" th:value="${head.MODIFIED}" id="modify">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">DATE </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POSTINGDT}">

			</div>
			<div class="col-md-1" align="center">
				<label class="lab_txt">ORGIN_POST </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POST_ORG_CD}">

			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">FPO ALLOCATED</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.FPO_CODE}">
			</div>

			<div class="col-md-2" align="center">
				<label class="lab_txt">NATURE TRANSACTION</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.NATURE_TYPE_CD}">

			</div>
			<div class="col-md-3" align="center">
				<label class="lab_txt">CIN_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.id}" id="inputPassword">
			</div>
		</div>

		<!--    muchos disgustimos   -->
		<div class="breadcrumb-pagination mt-3">

			<div class="active">
				<span>1</span>
				<p>Summary</p>
			</div>
			<div class="todo">
				<span>2</span>
				<p>Query</p>
			</div>

			<div class="todo">
				<span>3</span>
				<p>Exam Order</p>
			</div>
			<div class="todo">
				<span>4</span>
				<p>Proceed to Submit</p>
			</div>

		</div>


		<div class="row ">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6" id="divAlign">
						<!-- <div class="mt-2" align="center" id="hideDeclared">
							<h4 id="changeClassDeclared">Declared Details</h4>
						</div> -->
						<div style="float: left;">
							<button type="button" class="btn btn-dark btn-sm"
								data-toggle="modal" data-target="#exampleModalLong1"
								onClick="addNewItemDetails();">Add Item</button>
						</div>

					</div>

					<!-- <div class="col-md-6">
						<div class="mt-2" align="center" id="idAmnDtls">
							<h4>Amendment Details</h4>
						</div>
					</div> -->
				</div>

				<!-- scroll starts -->

				<div class="scroll_down" style="margin-top: 9px;">
					<div class="row ">
						<div class="col-sm-6">
							<div th:each="s1,iter : ${check}" id="position1">
								<div class="col-md-12 "
									style="background: #B0B0B0; border-radius: 8px; padding: 10px;">
									<div class="bg_item1">
										<div class="col-md-12" id="showeDeclared">
											<div class="mt-2" align="center">
												<h4>Declared Details</h4>
											</div>
										</div>
										<div class="form-group row mt-2">
											<p class="col-sm-1 lab_txt col-form-label">ITEM</p>
											<div class="col-sm-2">
												<p id="itemNo" style="font-weight: 700"
													th:text="${s1.ITEM_NO}"></p>
											</div>
											<p class="col-sm-1 lab_txt col-form-label">DESC</p>
											<div class="col-sm-8">
												<input type="text" style="font-weight: 700"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.ITEM_DESC}">
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">HS</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.CTH}"></p>
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">REVISED HS</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.CTH_REVISED}"></p>
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">CTH</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.GEN_CTH}"></p>
											</div>
										</div>

										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">NOU</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.NOU}"></p>
											</div>

										</div>

										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">NETWT</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.NETWT}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">DECL_VAL</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.DECL_VAL}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">CURRCD</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.CURRCD}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">ORGN_CD</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.ORIGCNTRYCD}"></p>
											</div>

										</div>
									</div>
									<div class="bg_item1 mt-1">
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">CTH</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.GEN_CTH}"></p>
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">BCD_NOTN</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.BCD_NOTN}"></p>
											</div>
										</div>
										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">BCD_NSNO</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.BCD_NSNO}"></p>
											</div>
										</div>
										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">BCD_RTA</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.BCD_RTA}"></p>
											</div>
										</div>
										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">BCD_AMT</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.BCD_AMT}"></p>
											</div>
										</div>
										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">BCD_AMT_FG</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.BCD_AMT_FG}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">IGST_NOTN</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.IGST_NOTN}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">IGST_NSNO</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.IGST_NSNO}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">IGST_RTA</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.IGST_RTA}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">IGST_AMT</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.IGST_AMT}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">IGST_AMT_FG</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.IGST_AMT_FG}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">SW_NOTN</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.SW_NOTN}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">SW_NSNO</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.SW_NSNO}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">SW_RTA</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.SW_RTA}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">SW_AMT</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.SW_AMT}"></p>
											</div>
										</div>

										<div class="form-group row mt-1">
											<p class="col-sm-2 lab_txt col-form-label">SW_AMT_FG</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.SW_AMT_FG}"></p>
											</div>
										</div>
									</div>

									<div class="bg_item1 mt-1">
										<div class="form-group row mt-2">
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label">Ex. RATE</label>
											<div class="col-sm-3">
												<input type="text" class="form-control form_txt"
													readonly="readonly" th:value="${s1.RATE}">
											</div>
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label"
												style="padding-top: 8px;">DUTY</label>
											<div class="col-sm-3">
												<input type="text" class="form-control form_txt"
													readonly="readonly" th:value="${s1.DUTY}">
											</div>
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label">Duty FG</label>
											<div class="col-sm-3">
												<input type="text" class="form-control form_txt"
													readonly="readonly" th:value="${s1.DUTY_FG}">
											</div>
										</div>
									</div>
								</div>
								<br>
								<div align="right" style="margin-top: -6px;">
									<!-- <button type="button" class="btn btn-secondary btn-sm"
										data-toggle="modal" data-target="#exampleModalLong1">Add
										Item</button> -->
									<button type="button" class="btn btn-secondary btn-sm"
										th:value="${s1.ITEM_NO}" onclick="changeDetails(value);"
										data-toggle="modal" data-target="#exampleModalLongAddItem">Change
									</button>
									<!-- <button id="deleteItemButton" class="btn btn-secondary btn-sm"
										th:value="${s1.ITEM_NO}" onclick="deleteDetail(value);"
										type="button">Delete</button> -->
								</div>
								<hr>
							</div>
						</div>
						<!--  ${check.ITEM_NO}-->


						<!-- Assessed Details -->

						<div class="col-sm-6" id="idAmdComplDetls">
							<div th:each="s1,iter : ${amend}">
								<div class="col-md-12"
									style="background: #B0B0B0; border-radius: 8px; padding: 10px;">
									<div class="bg_item">
										<div class="col-md-12" id="showeDeclared">
											<div class="mt-2" align="center">
												<h4>Amendment Details</h4>
											</div>
										</div>
										<div class="form-group row mt-2">
											<p class="col-sm-1 lab_txt col-form-label">ITEM</p>
											<div class="col-sm-2">
												<p style="font-weight: 700" th:text="${s1.ITEM_NO}"></p>
											</div>
											<p class="col-sm-1 lab_txt col-form-label">DESC</p>
											<div class="col-sm-8">
												<!-- <p style="font-weight: 700" th:text="${s1.ITEM_DESC}"> -->

												<input type="text" style="font-weight: 700"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.ITEM_DESC}">
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">HS</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.CTH}"></p>
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">REVISED HS</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.CTH_REVISED}"></p>
											</div>
										</div>
										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">CTH</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.GEN_CTH}"></p>
											</div>
										</div>
										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">NOU</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.NOU}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">NETWT</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.NETWT}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">DECL_VAL</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.DECL_VAL}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">CURRCD</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.CURRCD}"></p>
											</div>

										</div>

										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label">ORGN_CD</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.ORIGCNTRYCD}"></p>
											</div>

										</div>

									</div>
									<div class="bg_item mt-1">
										<!-- <div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label">CTH</p>
											<div class="col-sm-10">
												<p style="font-weight: 700" th:text="${s1.GEN_CTH}"></p>
												
											</div>
										</div> -->
										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_NOTN</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.BCD_NOTN}">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_NSNO</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.BCD_NSNO}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_RTA</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.BCD_RTA}">
											</div>
										</div>

										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_AMT</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.BCD_AMT}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_AMT_FG</label> <input type="text"
													class="form-control form_txt " readonly="readonly"
													th:value="${s1.BCD_AMT_FG}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_NOTN</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.IGST_NOTN}">
											</div>
										</div>

										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_NSNO</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.IGST_NSNO}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_RTA</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.IGST_RTA}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_AMT</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.IGST_AMT}">
											</div>

										</div>



										<div class="form-group row ">

											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_AMT_FG</label> <input
													type="text" class="form-control form_txt "
													readonly="readonly" th:value="${s1.IGST_AMT_FG}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_NOTN</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.SW_NOTN}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_NSNO</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.SW_NSNO}">
											</div>

										</div>
										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_RTA</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.SW_RTA}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_AMT</label> <input type="text"
													class="form-control form_txt" readonly="readonly"
													th:value="${s1.SW_AMT}">
											</div>

											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_AMT_FG</label> <input type="text"
													class="form-control form_txt " readonly="readonly"
													th:value="${s1.SW_AMT_FG}">
											</div>


										</div>

									</div>

									<div class="bg_item mt-1">
										<div class="form-group row mt-2 ">
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label">Ex. RATE</label>
											<div class="col-sm-3">
												<input type="text" class="form-control form_txt"
													readonly="readonly" th:value="${s1.RATE}">
											</div>
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label"
												style="padding-top: 8px;">DUTY</label>
											<div class="col-sm-3">
												<input type="text" class="form-control form_txt"
													readonly="readonly" th:value="${s1.DUTY}">
											</div>
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label">Duty FG</label>
											<div class="col-sm-3">
												<input type="text" class="form-control form_txt"
													readonly="readonly" th:value="${s1.DUTY_FG}">
											</div>
										</div>
									</div>
								</div>
								<br> <br>
								<hr>
							</div>
						</div>
					</div>
				</div>
				<!-- scroll ends -->

				<div class="mt-3" align="center">
					<button type="button" class="btn btn-info" onclick="goBack()">Back</button>

					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#exampleModal">Save Assesment</button>

				</div>

				<!-- modal -->
				<form action="#" th:action="@{/eadItemUpdate}" method="post">
					<input type="hidden" name="MODIFIED" th:value="${head.MODIFIED}">
					<input type="hidden" name="cinNo" th:value="${head.id}"> <input
						type="hidden" name="UNIQUE_ID" th:value="${head.UNIQUE_ID}">
					<div class="modal fade" id="exampleModalLongAddItem" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header"
									style="color: white; background-color: #7aa4de;">
									<h5 class="modal-title" id="exampleModalLongTitle">Change
										/ Process item</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div th:each="s1,iter : ${change}">
										<div class="col-md-12">
											<div class="form-group row mt-2">
												<p class="col-sm-1 lab_txt col-form-label1">ITEM</p>
												<div class="col-sm-2">
													<input id="itemNoChange" style="font-weight: 700"
														class="form-control form_txt" th:value="${s1.ITEM_NO}"
														name="ITEM_NO">
												</div>
												<p class="col-sm-1 lab_txt col-form-label1">DESC</p>
												<div class="col-sm-8">
													<input id="itemDESChange" type="text"
														class="form-control form_txt" th:value="${s1.ITEM_DESC}"
														name="ITEM_DESC">

												</div>
											</div>

											<div class="form-group row">
												<p class="col-sm-2 lab_txt col-form-label1">HS</p>
												<div class="col-sm-10">
													<input id="itemCthChange" type="number"
														onKeyPress="if(this.value.length==8) return false;"
														class="form-control form_txt" th:value="${s1.CTH}"
														name="CTH">
												</div>

											</div>
											<div class="form-group row">
												<p class="col-sm-2 lab_txt col-form-label1">REVISED HS</p>
												<div class="col-sm-10">
													<input id="itemRevisedCthChange" type="number"
														onKeyPress="if(this.value.length==8) return false;"
														class="form-control form_txt" th:value="${s1.CTH_REVISED}"
														name="CTH_REVISED">
												</div>
											</div>
											<div class="form-group row">
												<p class="col-sm-2 lab_txt col-form-label1">NOU</p>
												<div class="col-sm-10">
													<input id="itemNouChange" type="number"
														onKeyPress="if(this.value.length==6) return false;"
														class="form-control form_txt" th:value="${s1.NOU}"
														name="NOU">
												</div>

											</div>

											<div class="form-group row">
												<p class="col-sm-2 lab_txt col-form-label1">NETWT</p>
												<div class="col-sm-10">
													<input id="itemNetWtChange" type="number"
														class="form-control form_txt" th:value="${s1.NETWT}"
														name="NETWT">
												</div>

											</div>

											<div class="form-group row ">
												<p class="col-sm-2 lab_txt col-form-label1">DECL_VAL</p>
												<div class="col-sm-10">
													<input id="itemDeclValChange" type="number"
														onKeyPress="if(this.value.length==16) return false;"
														class="form-control form_txt" th:value="${s1.DECL_VAL}"
														name="DECL_VAL">
												</div>

											</div>

											<div class="form-group row ">
												<p class="col-sm-2 lab_txt col-form-label1">CURRCD</p>
												<div class="col-sm-10">
													<input id="itemCurCdChange" maxlength="3"
														onkeypress="return /[A-Z]/i.test(event.key)"
														class="form-control form_txt" th:value="${s1.CURRCD}"
														name="CURRCD">
												</div>

											</div>

											<div class="form-group row ">
												<p class="col-sm-2 lab_txt col-form-label1">ORGN_CD</p>
												<div class="col-sm-10">
													<input id="itemOrgCntryCdChange" type="number"
														onKeyPress="if(this.value.length==2) return false;"
														class="form-control form_txt" th:value="${s1.ORIGCNTRYCD}"
														name="ORIGCNTRYCD">
												</div>

											</div>

											<div class="form-group row">
												<p class="col-sm-2 lab_txt col-form-label1">CTH</p>
												<div class="col-sm-10">
													<!-- <input id="itemCth" type="number"
														onKeyPress="if(this.value.length==8) return false;"
														class="form-control form_txt" th:value="${s1.GEN_CTH}"
														name="CTH"> -->
													<select id="itemCth" class="custom-select"
														th:value="${s1.GEN_CTH}" name="GEN_CTH">
														<option>Select CTH Value</option>
														<div th:each="s5,iter : ${genCth}">
															<option th:text="${s5}"></option>
														</div>
													</select>
												</div>
											</div>
											<div class="form-group row ">
												<div class="col-md-4" align="center">
													<label class="lab_txt">BCD_NOTN</label>
													<!-- <input
														id="itemBcdNoNtChange" type="text"
														class="form-control form_txt" th:value="${s1.BCD_NOTN}"
														name="BCD_NOTN"> -->
													<select id="itemBcdNoNtChange" class="custom-select"
														th:value="${s1.BCD_NOTN}" name="BCD_NOTN">
														<option></option>
													</select>
												</div>
												<div class="col-md-4" align="center">
													<label class="lab_txt">BCD_NSNO</label>
													<!-- <input
														id="itemBcdNsNoChange" type="text"
														class="form-control form_txt" th:value="${s1.BCD_NSNO}"
														name="BCD_NSNO"> -->
													<select id="itemBcdNsNoChange" class="custom-select"
														th:value="${s1.BCD_NSNO}" name="BCD_NSNO">
														<option></option>
													</select>
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">BCD_RTA</label> <input
														readonly="readonly" id="itemBcdRtaChange" type="text"
														class="form-control form_txt" th:value="${s1.BCD_RTA}"
														name="BCD_RTA">
												</div>
											</div>

											<div class="form-group row ">
												<div class="col-md-4" align="center">
													<label class="lab_txt">BCD_AMT</label> <input
														readonly="readonly" id="itemBcdAmtChange" type="text"
														class="form-control form_txt" th:value="${s1.BCD_AMT}"
														name="BCD_AMT">
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">BCD_AMT_FG</label> <input
														id="itemBcdAmtFgChange" type="text" readonly="readonly"
														class="form-control form_txt " th:value="${s1.BCD_AMT_FG}"
														name="BCD_AMT_FG">
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">IGST_NOTN</label>
													<!-- <input
														id="itemIgstNoNtChange" type="text"
														class="form-control form_txt" th:value="${s1.IGST_NOTN}"
														name="IGST_NOTN"> -->
													<strong><select id="itemIgstNoNtChange"
														class="custom-select" th:value="${s1.IGST_NOTN}"
														name="IGST_NOTN">
															<option></option>
													</select></strong>
												</div>
											</div>

											<div class="form-group row ">
												<div class="col-md-4" align="center">
													<label class="lab_txt">IGST_NSNO</label>
													<!-- <input
														id="itemIgstNsNoChange" type="text"
														class="form-control form_txt" th:value="${s1.IGST_NSNO}"
														name="IGST_NSNO"> -->
													<select id="itemIgstNsNoChange" class="custom-select"
														th:value="${s1.IGST_NSNO}" name="IGST_NSNO">
														<option></option>
													</select>
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">IGST_RTA</label> <input
														readonly="readonly" id="itemIgstRtaChange" type="text"
														class="form-control form_txt" th:value="${s1.IGST_RTA}"
														name="IGST_RTA">
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">IGST_AMT</label> <input
														readonly="readonly" id="itemIgstAmtChange" type="text"
														class="form-control form_txt" th:value="${s1.IGST_AMT}"
														name="IGST_AMT">
												</div>

											</div>

											<div class="form-group row">

												<div class="col-md-4" align="center">
													<label class="lab_txt">IGST_AMT_FG</label> <input
														id="itemIgstAmtFgChange" type="text" readonly="readonly"
														class="form-control form_txt "
														th:value="${s1.IGST_AMT_FG}" name="IGST_AMT_FG">
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">SW_NOTN</label>
													<!-- <input
														id="itemSwNoNtChange" type="text"
														class="form-control form_txt" th:value="${s1.SW_NOTN}"
														name="SW_NOTN"> -->
													<select id="itemSwNoNtChange" class="custom-select"
														th:value="${s1.SW_NOTN}" name="SW_NOTN">
														<option></option>
													</select>
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">SW_NSNO</label>
													<!-- <input
														id="itemSwNsNoChange" type="text"
														class="form-control form_txt" th:value="${s1.SW_NSNO}"
														name="SW_NSNO"> -->
													<select id="itemSwNsNoChange" class="custom-select"
														th:value="${s1.SW_NSNO}" name="SW_NSNO">
														<option></option>
													</select>
												</div>

											</div>
											<div class="form-group row ">
												<div class="col-md-4" align="center">
													<label class="lab_txt">SW_RTA</label> <input
														readonly="readonly" id="itemSwRtaChange" type="text"
														class="form-control form_txt" th:value="${s1.SW_RTA}"
														name="SW_RTA">
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">SW_AMT</label> <input
														readonly="readonly" id="itemSwAmtChange" type="text"
														class="form-control form_txt" th:value="${s1.SW_AMT}"
														name="SW_AMT">
												</div>

												<div class="col-md-4" align="center">
													<label class="lab_txt">SW_AMT_FG</label> <input
														id="itemSwAmtFgChange" type="text" readonly="readonly"
														class="form-control form_txt " th:value="${s1.SW_AMT_FG}"
														name="SW_AMT_FG">
												</div>


											</div>
											<div class="form-group row mt-2">
												<label for="inputPassword"
													class="col-sm-1 lab_txt col-form-label">Ex. RATE</label>
												<div class="col-sm-3">
													<input id="itemRateChange" type="text" readonly="readonly"
														class="form-control form_txt" th:value="${s1.RATE}"
														name="RATE">
												</div>
												<label for="inputPassword"
													class="col-sm-1 lab_txt col-form-label"
													style="padding-top: 8px;">DUTY</label>
												<div class="col-sm-3">
													<input id="itemDutyChange" type="text" readonly="readonly"
														class="form-control form_txt" th:value="${s1.DUTY}"
														name="DUTY">
												</div>
												<label for="inputPassword"
													class="col-sm-1 lab_txt col-form-label">Duty FG</label>
												<div class="col-sm-3">
													<input readonly="readonly" id="itemDutyFgChange"
														type="text" class="form-control form_txt"
														th:value="${s1.DUTY_FG}" name="DUTY_FG">
												</div>
											</div>
										</div>
										<hr>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary"
										onClick="updateFn(this);">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				</form>

				<!-- Modal to add item -->
				<form action="#" th:action="@{/addNewItem}" method="post">
					<input type="hidden" name="cinNo" th:value="${head.id}"> <input
						type="hidden" name="UNIQUE_ID" th:value="${head.UNIQUE_ID}"><input
						type="hidden" name="ITEM_ID" th:value="${head.ITEM_ID}">
					<div class="modal fade" id="exampleModalLong1" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitles">Add
										Item</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="col-md-12">
										<div class="form-group row mt-2">
											<p class="col-sm-2 lab_txt col-form-label1">DESC</p>
											<div class="col-sm-10">
												<input id="itemDESChangeAdd" type="text"
													class="form-control form_txt" name="ITEM_DESC">
											</div>
										</div>

										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label1">HS</p>
											<div class="col-sm-10">
												<input id="itemCthChangeAdd" type="number"
													onKeyPress="if(this.value.length==8) return false;"
													class="form-control form_txt" name="CTH">
											</div>

										</div>

										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label1">REVISED HS</p>
											<div class="col-sm-10">
												<input id="itemRevisedCthChangeAdd" type="number"
													onKeyPress="if(this.value.length==8) return false;"
													class="form-control form_txt" name="CTH_REVISED">
											</div>

										</div>


										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label1">NOU</p>
											<div class="col-sm-10">
												<input id="itemNouChangeAdd" type="number"
													onKeyPress="if(this.value.length==6) return false;"
													class="form-control form_txt" name="NOU">
											</div>

										</div>

										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label1">NETWT</p>
											<div class="col-sm-10">
												<input id="itemNetWtChangeAdd" type="number"
													class="form-control form_txt" name="NETWT">
											</div>

										</div>
										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label1">DECL_VAL</p>
											<div class="col-sm-10">
												<input id="itemDeclValChangeAdd" type="number"
													onKeyPress="if(this.value.length==16) return false;"
													class="form-control form_txt" name="DECL_VAL">
											</div>
										</div>
										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label1">CURRCD</p>
											<div class="col-sm-10">
												<input id="itemCurCdChangeAdd" maxlength="3"
													onkeypress="return /[A-Z]/i.test(event.key)"
													class="form-control form_txt" name="CURRCD">
											</div>
										</div>
										<div class="form-group row ">
											<p class="col-sm-2 lab_txt col-form-label1">ORGN_CD</p>
											<div class="col-sm-10">
												<input id="itemOrgCntryCdChangeAdd" maxlength="2"
													onkeypress="return /[A-Z]/i.test(event.key)"
													class="form-control form_txt" name="ORIGCNTRYCD">
											</div>
										</div>

										<div class="form-group row">
											<p class="col-sm-2 lab_txt col-form-label1">CTH</p>
											<div class="col-sm-10">
												<select id="itemCthAdd" class="custom-select" name="GEN_CTH">
													<option>Select CTH Value</option>
													<div th:each="s5,iter : ${genCth}">
														<option th:text="${s5}"></option>
													</div>
												</select>
											</div>
										</div>
										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_NOTN</label> <select
													id="itemBcdNoNtChangeAdd" class="custom-select"
													th:value="1" name="BCD_NOTN">
													<option></option>
												</select>
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_NSNO</label> <select
													id="itemBcdNsNoChangeAdd" class="custom-select"
													th:value="0" name="BCD_NSNO">
													<option></option>
												</select>
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_RTA</label> <input type="text"
													id="itemBcdRtaChangeAdd" th:value="0" readonly="readonly"
													class="form-control form_txt" name="BCD_RTA">
											</div>
										</div>
										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_AMT</label> <input type="text"
													id="itemBcdAmtChangeAdd" th:value="0" readonly="readonly"
													class="form-control form_txt" name="BCD_AMT">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">BCD_AMT_FG</label> <input
													readonly="readonly" id="itemBcdAmtFgChangeAdd" type="text"
													class="form-control form_txt " th:value="0"
													name="BCD_AMT_FG">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_NOTN</label> <select
													id="itemIgstNoNtChangeAdd" class="custom-select"
													th:value="0" name="IGST_NOTN">
													<option></option>
												</select>
											</div>
										</div>
										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_NSNO</label> <select
													id="itemIgstNsNoChangeAdd" class="custom-select"
													th:value="0" name="IGST_NSNO">
													<option></option>
												</select>
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_RTA</label> <input
													readonly="readonly" id="itemIgstRtaChangeAdd" type="text"
													class="form-control form_txt" th:value="0" name="IGST_RTA">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_AMT</label> <input
													readonly="readonly" id="itemIgstAmtChangeAdd" type="text"
													class="form-control form_txt" th:value="0" name="IGST_AMT">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-4" align="center">
												<label class="lab_txt">IGST_AMT_FG</label> <input
													readonly="readonly" id="itemIgstAmtFgChangeAdd" type="text"
													class="form-control form_txt " th:value="0"
													name="IGST_AMT_FG">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_NOTN</label> <select
													id="itemSwNoNtChangeAdd" class="custom-select" th:value="0"
													name="SW_NOTN">
													<option></option>
												</select>
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_NSNO</label> <select
													id="itemSwNsNoChangeAdd" class="custom-select" th:value="0"
													name="SW_NSNO">
													<option></option>
												</select>
											</div>
										</div>
										<div class="form-group row ">
											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_RTA</label> <input
													readonly="readonly" id="itemSwRtaChangeAdd" type="text"
													class="form-control form_txt" th:value="0" name="SW_RTA">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_AMT</label><input
													readonly="readonly" id="itemSwAmtChangeAdd" type="text"
													class="form-control form_txt" th:value="0" name="SW_AMT">
											</div>
											<div class="col-md-4" align="center">
												<label class="lab_txt">SW_AMT_FG</label> <input
													readonly="readonly" id="itemSwAmtFgChangeAdd" type="text"
													class="form-control form_txt " th:value="0"
													name="SW_AMT_FG">
											</div>
										</div>
										<div class="form-group row mt-2">
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label">Ex. RATE</label>
											<div class="col-sm-3">
												<input id="itemRateChangeAdd" type="text"
													readonly="readonly" class="form-control form_txt"
													th:value="0" name="RATE">
											</div>
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label"
												style="padding-top: 8px;">DUTY</label>
											<div class="col-sm-3">
												<input id="itemDutyChangeAdd" type="text"
													readonly="readonly" class="form-control form_txt"
													th:value="0" name="DUTY">
											</div>
											<label for="inputPassword"
												class="col-sm-1 lab_txt col-form-label">Duty FG</label>
											<div class="col-sm-3">
												<input id="itemDutyFgChangeAdd" type="text"
													readonly="readonly" class="form-control form_txt"
													th:value="0" name="DUTY_FG">
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Save
										Items</button>
								</div>
							</div>
						</div>
					</div>
				</form>


				<!-- Modal to add item ends -->


				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<!-- <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div> -->
							<div class="modal-body">
								<h4>Please confirm whether Assessment is over</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									th:id="${head.id}" onclick="viewDetail1(this);">Yes</button>
								<button type="button" class="btn btn-primary" th:id="${head.id}"
									onclick="viewDetail(this);">No</button>
							</div>
						</div>
					</div>
				</div>


			
			</div>
</body>

<script src="/js/ead_item.js"></script>
</html>
