<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>

<style>
.lab_txt, .col-form-label {
	font-size: 12px;
	color: blue;
}

.form_txt {
	font-weight: 700
}

.bg_rec {
	background-color: #e6e5e5;
	border-radius: 10px;
	padding: 10px;
}

.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.col-form-label {
	padding-top: 2px;
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.col-form-label {
	padding-top: 2px;
}


.breadcrumb-pagination {
    width:100%;
    border-bottom:1px solid #E1E6EB;
    text-align:center;
    color:#B3B7C1;
  }

.breadcrumb-pagination div {
    width: 15%;
    display:inline-block;
  }
  
.breadcrumb-pagination div span {
    margin:0 auto;
    display:block;
    border-radius:100%;
    width:36px;
    font-size:20px;
  }  
  
.completed span {
    background-color:NONE;
    color:#95db89;
    border:2px solid #95db89;
  }
    
.active span {
    background-color:#00abc9;
    color:#fff;
  }
    
.todo span {
    background-color:none;
    color:#E1E6EB;
    border:2px solid #E1E6EB;
  }
    
.breadcrumb-pagination div p {
    text-align:center;
    line-height:0;
    margin:10px auto 0px;
  }
    
.active p {
   border-bottom:2px solid #00abc9;
   padding-bottom:20px;
   margin-bottom:0px !important;
   color: #3c4043;
   font-weight:700;
}
    
.completed p {
    color:#bsb7c1;
  }

.completed span::before { 
  content: '\2713' 
}
  
</style>

<body style="background: #d6dcd9">
	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">

		<div>
			<div class="mt-3" align="center">
				<h2>Process Electronic Advance Data</h2>
			</div>


			<div class="form-group row mt-4">
				<div class="col-md-2" align="center">
					<label class="lab_txt">TRACKING_NO</label> <input type="text"
						class="form-control form_txt" readonly="readonly"
						th:value="${check.ITEM_ID}">
				</div>
				<div class="col-md-2" align="center">
					<label class="lab_txt">DATE </label> <input type="text"
						class="form-control form_txt" readonly="readonly"
						th:value="${check.POSTINGDT}">

				</div>
				<div class="col-md-1" align="center">
					<label class="lab_txt">ORGIN_POST </label> <input type="text"
						class="form-control form_txt" readonly="readonly"
						th:value="${check.POST_ORG_CD}">

				</div>
				<div class="col-md-2" align="center">
					<label class="lab_txt">FPO ALLOCATED</label> <input type="text"
						class="form-control form_txt" readonly="readonly"
						th:value="${check.FPO_CODE}">
				</div>

				<div class="col-md-2" align="center">
					<label class="lab_txt">NATURE TRANSACTION</label> <input
						type="text" class="form-control form_txt" readonly="readonly"
						th:value="${check.NATURE_TYPE_CD}">

				</div>
				<div class="col-md-3" align="center">
					<label class="lab_txt">CIN_NO</label> <input type="text"
						class="form-control form_txt" readonly="readonly"
						th:value="${check.id}" id="inputPassword">
				</div>
			</div>

			<nav class="navbar navbar-expand-lg " style="margin-left: -19px">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item px-1"><a
							class="nav-link btn btn-outline-success btn-sm" href="#"> <strong>CN
									22/ CN 23 Summary</strong>
						</a></li>
						<li class="nav-item px-1"><a
							class="nav-link btn btn-success btn-sm" th:id="${check.id}"
							onclick="viewDetail(this);" href="#">Process Item wise </a></li>
						<li class="nav-item"><a
							class="nav-link btn btn-success btn-sm" href="#">Query </a></li>
					</ul>
				</div>
				<div align="right">
					<a class="nav-link btn btn-info btn-sm" href="ead_list">Back </a>
				</div>
			</nav>			
			<!--    muchos disgustimos   -->
			<div class="breadcrumb-pagination mb-1">

				<div class="active">
					<span>1</span>
					<p>Summary</p>
				</div>
				<div class="todo">
					<span>2</span>
					<p>Query</p>
				</div>

				<div class="todo">
					<span>3</span>
					<p>Exam Order</p>
				</div>
				<div class="todo">
					<span>4</span>
					<p>Proceed to Submit</p>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6 ">
					<div class="bg_rec">
						<h4 class="mt-1">
							<strong>Recipient Information : </strong>
						</h4>
						<div class="row mt-2">
							<p class="col-sm-2 lab_txt col-form-label">NAME</p>
							<div class="col-sm-10">
								<p style="font-weight: 700" th:text="${check.RECP_NAME}"></p>
							</div>
						</div>
						<div class="row">
							<p class="col-sm-2 lab_txt col-form-label">ADDRESS</p>
							<div class="col-sm-10">
								<p style="font-weight: 700" th:text="${check.RECP_ADD1}"></p>
								<p style="font-weight: 700" th:text="${check.RECP_ADD2}"></p>
							</div>
						</div>



						<div class="row ">
							<p class="col-sm-2 lab_txt col-form-label">CITY</p>
							<div class="col-sm-6">
								<p style="font-weight: 700" th:text="${check.RECP_CITY}"></p>
							</div>
							<p class="col-sm-2 lab_txt col-form-label">COUNTRY</p>
							<div class="col-sm-1">
								<p style="font-weight: 700" th:text="${check.RECP_CNTRY_CD}"></p>
							</div>
						</div>

						<div class="row ">
							<p class="col-sm-2 col-form-label">STATE</p>
							<div class="col-sm-6">
								<p style="font-weight: 700" th:text="${check.RECP_STATE}"></p>
							</div>

							<p class="col-sm-1 col-form-label">PIN</p>
							<div class="col-sm-3">
								<p style="font-weight: 700" th:text="${check.RECP_ZIP}">
							</div>
						</div>

						<div class="row">
							<p class="col-sm-2 col-form-label">EMAIL</p>
							<div class="col-sm-10">
								<p style="font-weight: 700" th:text="${check.RECP_EMAILID}">
							</div>

						</div>

						<div class="form-group row ">
							<p class="col-sm-2 col-form-label">PHONE</p>
							<div class="col-sm-3">
								<p style="font-weight: 700" th:text="${check.RECP_PHONE}">
							</div>


							<p class="col-sm-1 col-form-label">FAX</p>
							<div class="col-sm-2">
								<p style="font-weight: 700" th:text="${check.RECP_FAX}">
							</div>

							<p class="col-sm-1 col-form-label">RECP_ID</p>
							<div class="col-sm-3">
								<p style="font-weight: 700" th:text="${check.RECP_IDREF}"></p>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-6 ">
					<div class="bg_rec">
						<h4 class="mt-1">
							<strong>Sender Information : </strong>
						</h4>
						<div class="row mt-2">
							<p class="col-sm-2 lab_txt col-form-label">NAME</p>
							<div class="col-sm-10">
								<p style="font-weight: 700" th:text="${check.SEND_NAME}"></p>
							</div>
						</div>
						<div class="row">
							<p class="col-sm-2 lab_txt col-form-label">ADDRESS</p>
							<div class="col-sm-10">
								<p style="font-weight: 700" th:text="${check.SEND_ADD1}"></p>
								<p style="font-weight: 700" th:text="${check.SEND_ADD2}"></p>
							</div>
						</div>



						<div class="row ">
							<p class="col-sm-2 lab_txt col-form-label">CITY</p>
							<div class="col-sm-6">
								<p style="font-weight: 700" th:text="${check.SEND_CITY}"></p>
							</div>
							<p class="col-sm-2 lab_txt col-form-label">COUNTRY</p>
							<div class="col-sm-1">
								<p style="font-weight: 700" th:text="${check.SEND_CNTRY_CD}"></p>
							</div>
						</div>

						<div class="row ">
							<p class="col-sm-2 col-form-label">STATE</p>
							<div class="col-sm-6">
								<p style="font-weight: 700" th:text="${check.SEND_STATE}"></p>
							</div>

							<p class="col-sm-1 col-form-label">PIN</p>
							<div class="col-sm-3">
								<p style="font-weight: 700" th:text="${check.SEND_ZIP}">
							</div>
						</div>

						<div class="row">
							<p class="col-sm-2 col-form-label">EMAIL</p>
							<div class="col-sm-10">
								<p style="font-weight: 700" th:text="${check.SEND_EMAILID}">
							</div>

						</div>

						<div class="form-group row ">
							<p class="col-sm-2 col-form-label">PHONE</p>
							<div class="col-sm-3">
								<p style="font-weight: 700" th:text="987465465">
							</div>


							<p class="col-sm-1 col-form-label">FAX</p>
							<div class="col-sm-2">
								<p style="font-weight: 700" th:text="${check.RECP_FAX}">
							</div>

							<p class="col-sm-1 col-form-label">RECP_ID</p>
							<div class="col-sm-3">
								<p style="font-weight: 700" th:text="${check.SEND_IDREF}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<div class="col-md-12 bg_rec">

				<div class="row">
					<p class="col-sm-1 col-form-label">MAIL PID</p>
					<div class="col-sm-5">
						<p style="font-weight: 700" th:text="${check.MAIL_PID}"></p>
					</div>
					<p class="col-sm-1 col-form-label">DECL PID</p>
					<div class="col-sm-5">
						<p style="font-weight: 700" th:text="${check.DECLARATION_PID}"></p>
					</div>

				</div>
				<div class="row">
					<p class="col-sm-1 col-form-label">CUST ORG</p>
					<div class="col-sm-2">
						<p style="font-weight: 700;" th:text="${check.CUST_ORG_CD}"></p>
					</div>

					<p class="col-sm-1 col-form-label">HANDLING</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.HANDLING_CLASS_CD}"></p>
					</div>

					<p class="col-sm-1 col-form-label">DESTPOST</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.DESTPOST_ORG_CD}"></p>
					</div>
					<p class="col-sm-1 col-form-label">CUS_SITE</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.CUS_SITE}"></p>
					</div>
				</div>

				<div class="row">
					<p class="col-sm-1 col-form-label">JOB_NO</p>
					<div class="col-sm-2">
						<p style="font-weight: 700;" th:text="${check.JOB_NO}"></p>
					</div>

					<p class="col-sm-1 col-form-label">JOB_DT</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.JOB_DT}"></p>
					</div>

					<p class="col-sm-1 col-form-label">TRANS_DATE</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.TRANS_DATE}"></p>
					</div>
					<p class="col-sm-1 col-form-label">TRANS_MODE</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.TRANS_MODE}"></p>
					</div>
				</div>

				<div class="row">
					<p class="col-sm-1 col-form-label">GROSS_WT</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.GROSS_WT}"></p>
					</div>

					<p class="col-sm-1 col-form-label">MEASWT</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.MEASURED_GROSS_WT}"></p>
					</div>

					<p class="col-sm-1 col-form-label">MODIFIED</p>
					<div class="col-sm-1">
						<p style="font-weight: 700" th:text="${check.MODIFIED}"></p>
					</div>


					<!-- <p class="col-sm-1 col-form-label">UNIQUE_ID</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.UNIQUE_ID}"></p>
					</div> -->
				</div>

				<div class="form-group row  mt-2">
					<p class="col-sm-1 col-form-label">POST_AMT</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.POSTAGE_AMT}"></p>
					</div>
					<p class="col-sm-1 col-form-label">POST_CURRCD</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.POSTAGE_CURR_CD}"></p>
					</div>

					<p class="col-sm-1 col-form-label">INS VAL</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.INS_VAL}"></p>
					</div>
					<p class="col-sm-1 col-form-label">INS_CURRCD</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.INS_VAL_CURRCD}"></p>
					</div>
				</div>

				<div class="form-group row  mt-2">
					<p class="col-sm-1 col-form-label">TOT_DECL_VAL</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.TOT_DECL_VAL}"></p>
					</div>
					<p class="col-sm-1 col-form-label">TOT_ASS_VAL</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.TOT_ASS_VAL}"></p>
					</div>

					<p class="col-sm-1 col-form-label">TOT_DUTY</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.TOT_DUTY}"></p>
					</div>
					<p class="col-sm-1 col-form-label">INS_VAL</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.INS_VAL}"></p>
					</div>
				</div>



				<div class="form-group row  mt-2">
					<p class="col-sm-1 col-form-label">MAIL_CATEGORY</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.MAIL_CATEGORY_CD}"></p>
					</div>
					<p class="col-sm-1 col-form-label">MAIL_CLASS</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.MAIL_CLASS_CD}"></p>
					</div>

					<p class="col-sm-1 col-form-label">MAIL_STATE</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.MAIL_STATE_CD}"></p>
					</div>
					<p class="col-sm-1 col-form-label">STATE_REMARKS</p>
					<div class="col-sm-2">
						<p style="font-weight: 700" th:text="${check.MAIL_STATE_REMARKS}"></p>
					</div>
				</div>




				<div class="row ">
					<p class=" col-sm-1 col-form-label">DOCUMENTS</p>
					<p style="font-weight: 700" th:text="${check.DOCUMENTS}" rows="3"></p>
				</div>
			</div>

			<br>
			<div class="mt-2" style="float: right;">
				<a class="nav-link btn btn-info btn-sm" href="ead_list">Back </a>
			</div>


			<br> <br>

		</div>
</body>

<script type="text/javascript">
	function viewDetail(e) {
		//alert(e.id);
		window.location.href = "/declared?id=" + e.id;
	}
</script>
</html>
