<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>

<style>
.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.form_txt {
	font-weight: 700
}

.bg_clr {
	background-color: #e6e5e5;
	border-radius: 10px;
	padding: 25px;
}

.big-checkbox {
	width: 25px;
	height: 25px;
}

.breadcrumb-pagination {
	width: 100%;
	border-bottom: 1px solid #E1E6EB;
	text-align: center;
	color: #B3B7C1;
}

.breadcrumb-pagination div {
	width: 15%;
	display: inline-block;
}

.breadcrumb-pagination div span {
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	width: 36px;
	font-size: 20px;
}

.completed span {
	background-color: NONE;
	color: #95db89;
	border: 2px solid #95db89;
}

.active span {
	background-color: #00abc9;
	color: #fff;
}

.todo span {
	background-color: none;
	color: #E1E6EB;
	border: 2px solid #E1E6EB;
}

.breadcrumb-pagination div p {
	text-align: center;
	line-height: 0;
	margin: 10px auto 0px;
}

.active p {
	border-bottom: 2px solid #00abc9;
	padding-bottom: 20px;
	margin-bottom: 0px !important;
	color: #3c4043;
	font-weight: 700;
}

.completed p {
	color: #bsb7c1;
}

.completed span::before {
	content: '\2713'
}
</style>
<body style="background: #d6dcd9">

	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Process Electronic Advance Data</h2>
		</div>

		<div class="form-group row mt-4">
			<div class="col-md-2" align="center">
				<label class="lab_txt">TRACKING_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.ITEM_ID}">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">DATE </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POSTINGDT}">

			</div>
			<div class="col-md-1" align="center">
				<label class="lab_txt">ORGIN_POST </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POST_ORG_CD}">

			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">FPO ALLOCATED</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.FPO_CODE}">
			</div>

			<div class="col-md-2" align="center">
				<label class="lab_txt">NATURE TRANSACTION</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.NATURE_TYPE_CD}">

			</div>
			<div class="col-md-3" align="center">
				<label class="lab_txt">CIN_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.id}" id="cinNo">
			</div>
		</div>


		<!--    muchos disgustimos   -->
		<div class="breadcrumb-pagination mt-3">

			<div class="completed">
				<span></span>
				<p>Summary</p>
			</div>
			<div class="completed">
				<span></span>
				<p>Query</p>
			</div>

			<div class="completed">
				<span></span>
				<p>Exam Order</p>
			</div>
			<div class="active">
				<span>4</span>
				<p>Proceed to Submit</p>
			</div>

		</div>

		<div class="mt-2" style="float: right;">
			<a class="nav-link btn btn-info btn-sm" style="color: white;"
				onclick="goBack()">Back </a>

		</div>
		<div class="mt-2" style="float: left;">
			<a style="color: Black;"><strong>Select One Decision</strong> </a>

		</div>

		<br> <br>

		<form action="#" th:action="@{/decisionSubmit}" method="post">
			<input type="hidden" name="CIN_NO" th:value="${head.id}"> <input
				type="hidden" name="ITEM_ID" th:value="${head.ITEM_ID}"> <input
				type="hidden" name="CUS_SITE" th:value="${head.CUS_SITE}"> <input
				type="hidden" name="QRY_TYPE" th:value="E4">
			<div class="bg_clr">
				<table class="table mt-3">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Sl No</th>
							<th scope="col">Decision</th>
							<th scope="col">Select</th>

						</tr>
					</thead>
					<tbody>
						<tr class="check" th:each="s1,iter : ${reason}">
							<th scope="row" th:text="${s1.id}">1</th>
							<td th:text="${s1.DECI_NM}"></td>
							<td><input th:id="${s1.id}" type="checkbox" class="big-checkbox" th:value="${s1.id}"></td>
						</tr>
					</tbody>
				</table>

				<div align="center">
					<button type="button" class="btn btn-success" data-toggle="modal" id="enableButton"
						data-target="#exampleModal">Proceed to Submit</button>
				</div>
		</form>



		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<!-- <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div> -->
					<div class="modal-body">
						<h4>Once submitted can't be changed</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-success" data-toggle="modal"
						data-target="#exampleModal">Submit</button>
					</div>
				</div>
			</div>
		</div>

		<p>Notes :</p>
		<p>1. The above Message will be communicated to India Post.</p>
		<p>2. All the items to be submitted to customs on arrival for OOC.</p>


	</div>


	</div>

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

</body>



<script  src="/js/eadDecisionSubmit.js">
</script>


</html>