<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>


<style>
.lab_txt {
	font-size: 14px;
	color: blue;
}

.numradius {
	border: 1px solid black;
	background-color: #17a2b8;
	color: white;
	float: right;
	padding: 7px;
}
</style>

<body style="background: #d6dcd9">

	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Process Electronic Advance Data</h2>
		</div>


		<div>
			<a href="dash"><button type="button" class="btn btn-info">Back
					to Dashboard</button> </a> <span class="numradius">&nbsp;63&nbsp;</span>
		</div>
		<br>

		<table class="table table-bordered mt-3" style="text-align: center"
			id="asstTable">
			<thead>
				<tr>
					<th scope="col">Sl.No.</th>
					<th scope="col">CIN No.</th>
					<th scope="col">Item ID</th>
					<th scope="col">Date</th>
					<th scope="col">Country</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr valign="middle" class="rowDis" th:each="s1,iter : ${check}">
					<td style="vertical-align: middle;" th:text="${iter.index+1}">1</td>
					<td style="vertical-align: middle;" th:text="${s1.id}">464654654</td>
					<td style="vertical-align: middle;" th:text="${s1.ITEM_ID}">5648912</td>
					<td style="vertical-align: middle;" th:text="${s1.POSTINGDT}">01.01.2020</td>
					<td style="vertical-align: middle;" th:text="${s1.SEND_CNTRY_CD}">01.01.2020</td>
					<td align="center"><i aria-hidden="true" th:id="${s1.id}"
						onclick="viewDetail(this);">
							<button th:id="${iter.index+1}" type="button"
								class="btn btn-success">Process EAD</button>
					</i></td>
				</tr>
			</tbody>
		</table>



	</div>
</body>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<script src="/js/ead_list.js">
	
</script>

</html>