<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style type="text/css">
@media print {
	#printbtn {
		display: none;
	}
}
</style>
</head>
<body>

	<div class="col-md-12" align="center">
		<img src="/images/CBEC.png" height="50" width="50">
		<p>OFFICE OF THE ASSISTANT COMMISSIONER OF CUSTOMS, POSTAL
			APPRAISING</p>
		<p>DEPARTMENT, POST OFFICE BUILDING, SHOOLAY COMPLEX, III FLOOR,
			MUSEUM</p>
		<p>ROAD, BANGALORE-560025.</p>
		<p>Ph:08025589992 (Visiting Hours : 3 pm to 5 pm Monday- Friday)</p>
		<p>
			<strong><u>CALL MEMO</u></strong>
		</p>
	</div>


	<div class="row">
		<div class="col-md-11">
			<p>
				CIN. No. <strong th:id="cinNo" th:text="${fpoMainData.id}">
					<!-- ${name1} -->
				</strong> /Cuspad/2013
			</p>
		</div>
		<div class="col-md-1">
			<p id="date"></p>
		</div>
	</div>

	<div class="col-md-12" align="right">
		<p>
			<u>ON INDIA GOVERNMENT SERVICE</u>
		</p>
		<p>
			<strong>By SPEED POST</strong>
		</p>
	</div>

	<div class="col-md-12" align="left">
		<p>To,</p>
		<p th:text="${fpoMainData.RECP_NAME}">address</p>
		<p th:text="${fpoMainData.RECP_ADD1}">address</p>
		<p th:text="${fpoMainData.RECP_ADD2}">line 1</p>
		<p th:text="${fpoMainData.RECP_CITY}">CITY -</p>
		<span th:text="${fpoMainData.RECP_ZIP}"></span>
		<p th:text="${fpoMainData.RECP_PHONE}">PH</p>
	</div>

	<div class="col-md-12" align="left">
		<p>Sir,</p>
	</div>

	<div class="col-md-12" align="center">
		<p>
			Sub: Foreign Post Parcel No.<strong th:text="${fpoMainData.ITEM_ID}">
			</strong> -reg.
		</p>
		<p>* * *</p>
	</div>

	<div class="col-md-12" align="left">
		<p>
			Total No. of Items : <strong th:id="totalItems" th:text="0">
			</strong>
		</p>

	</div>

	<div class="row mt-5">
		<div class="col-md-1">
			<label class="lab_txt col-form-label">Item No</label>
		</div>
		<div class="col-md-3">
			<label class="lab_txt col-form-label">Desc</label>
		</div>
		<div class="col-md-2">
			<label class="lab_txt col-form-label">CTH</label>
		</div>
		<div class="col-md-6">
			<label class="lab_txt col-form-label">Remarks</label>
		</div>
	</div>

	<div class="row mt-2" th:each="memoData,iter : ${callMemo}">
		<div class="col-md-1">
			<p th:text="${memoData[0]}"></p>
		</div>
		<div class="col-md-3">

			<p th:text="${memoData[1]}"></p>
		</div>
		<div class="col-md-2">
			<p th:text="${memoData[2]}"></p>
		</div>
		<div class="col-md-6">

			<p th:text="${memoData[3]}"></p>
		</div>

	</div>

	<div class="row mt-2" th:each="defualtQuery,iter : ${defualtQueryList}">
		<div class="col-md-12">
			<p th:text="${defualtQuery}"></p>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-12">
			<p th:text="${getRemarks}"></p>
		</div>

	</div>

	<div class="col-md-12" align="center">
		<p>Please quote the above parcel number in all your
			correspondences.</p>
	</div>




	<div class="col-md-12" align="right">
		<p>Yours sincerely,</p>
		<p>SUPERINTENDENT OF CUSTOMS</p>
		<p>PAD, BANGALORE.</p>
	</div>

	<div class="col-md-12 mb-5" align="center">

		<input id="printbtn" class="btn btn-primary" type="button"
			value="Print this page" onclick="window.print();">
	</div>

	<script src="/js/editcallmemo.js"></script>
</body>
</html>