<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />


<style>
.lab_txt {
	font-size: 14px;
	color: blue;
}

.numradius {
	border: 1px solid black;
	background-color: #17a2b8;
	color: white;
	float: right;
	padding: 7px;
}
</style>
</head>
<body style="background: #d6dcd9">


	<div class="row" style="background-color: #69d1f1; color: white;">
		<div class="col-md-1" align="right">
			<img style="width: 83px;" src="/images/CBEC.png">
		</div>

		<div class="col-md-9 mt-2" align="left">
			<p>
				<strong> Central Board of Indirect Tax and Customs </strong>
			</p>
			<p>
				<strong> FPO Module - Imports </strong>
			</p>
		</div>


		<div class="col-md-2 mt-2">
			<p><strong>Indian Customs EDI System</strong></p>
			<p><strong>Foreign Post Office - Bangalore</strong></p>
		</div>

	</div>
	<div class="container" style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Process Imports Article List</h2>
		</div>


		<div>
			<a href="dash"><button type="button" class="btn btn-info">Back
					to Dashboard</button> </a> <span class="numradius">&nbsp;63&nbsp;</span>
		</div>
		<br>

		<table class="table table-bordered mt-3" id="asstTable">
			<thead>
				<tr>
					<th scope="col">Sl.No.</th>
					<th scope="col">CIN No.</th>
					<th scope="col">ITEM_ID.</th>
					<th scope="col">Date</th>
					<th scope="col">Orgn CD</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1,iter : ${check}">
					<td th:text="${iter.index+1}">1</td>
					<td th:text="${s1.id}">464654654</td>
					<td th:text="${s1.ITEM_ID}">5648912</td>
					<td th:text="${s1.POSTINGDT}">01.01.2020</td>
					<td th:text="${s1.SEND_CNTRY_CD}">01.01.2020</td>
					<td align="center"><i aria-hidden="true" th:id="${s1.id}"
						onclick="viewDetail(this);">
							<button type="button" th:id="${iter.index+1}" class="btn btn-success">Assessment</button>
					</i>
					 <br> 
					<small> from ood </small>
					</td>
				</tr>
 

			</tbody>
		</table>
	</div>

</body>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#asstTable").dataTable({
			"processing" : true,
			"paging" : true
		});
	});

	function viewDetail(e) {
		//alert(e.id);
		window.location.href = "/import_main?id=" + e.id;
		//window.location.href = "#" + e.id;
	}
	
	$("table tbody tr").each(function() {
		var textval = $(this).find("td:eq(0)").text().trim();
	//	var textval2 = $(this).find("td:eq(1)").text().trim();
		if (textval > 1) {
			$('#'+textval).prop('disabled', true);
			//$(this).find("td:eq(0)").attr('disabled', true);
		} else {
			$("tr.rowDis input, tr.rowDis select, tr.rowDis textarea").prop('disabled', true);
			//$('#submitBtn').prop('disabled', false);
		}
	});
</script>

</html>