<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>

<style>
.form_txt {
	font-weight: 700
}

.col-form-label {
	padding-top: 2px;
	font-weight: 700;
	color: blue;
}

.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.form-group {
	margin-bottom: 0rem;
}

.scroll_down {
	height: 425px;
	overflow-x: hidden;
	overflow-y: auto;
}

.bg_item {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.numradius {
	border: 2px solid black;
	background-color: white;
	color: black;
}

hr {
	border-top: 1px solid rgb(0, 0, 139);
}
</style>
</head>
<body style="background: #d6dcd9">

	<div class="container"
		style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>Item Summary</h2>
		</div>

		<div class="mt-4" align="right">
			<p class="lab_txt">
				No of Items : <span class="numradius"> <strong>&nbsp;2&nbsp;</strong>
				</span>
			</p>
		</div>

		<div class="form-group row mt-4">
			<div class="col-md-2" align="center">
				<label class="lab_txt">TRACKING_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.ITEM_ID}">
			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">DATE </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POSTINGDT}">

			</div>
			<div class="col-md-1" align="center">
				<label class="lab_txt">ORGIN_POST </label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.POST_ORG_CD}">

			</div>
			<div class="col-md-2" align="center">
				<label class="lab_txt">FPO ALLOCATED</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.FPO_CODE}">
			</div>

			<div class="col-md-2" align="center">
				<label class="lab_txt">NATURE TRANSACTION</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.NATURE_TYPE_CD}">

			</div>
			<div class="col-md-3" align="center">
				<label class="lab_txt">CIN_NO</label> <input type="text"
					class="form-control form_txt" readonly="readonly"
					th:value="${head.id}" id="inputPassword">
			</div>
		</div>

		<hr>



		<div class="row">
			<div class="col-md-6">
				<div class="mt-2" align="center">
					<h4>Declared Details</h4>
				</div>
			</div>

			<div class="col-md-6">
				<div class="mt-2" align="center">
					<h4>Assessed Details</h4>
				</div>
			</div>
		</div>

		<div class="scroll_down">

			<div class="row">
				<div class="col-sm-6">
					<div th:each="s1,iter : ${check}">
						<div class="col-md-12 "
							style="background: #B0B0B0; border-radius: 8px; padding: 10px;">
							<div class="bg_item">
								<div class="form-group row mt-2">
									<p class="col-sm-1 lab_txt col-form-label">ITEM</p>
									<div class="col-sm-2">
										<p style="font-weight: 700" th:text="${iter.index+1}"></p>
									</div>
									<p class="col-sm-1 lab_txt col-form-label">DESC</p>
									<div class="col-sm-8">
										<p style="font-weight: 700" th:text="${s1.ITEM_DESC}">
									</div>
								</div>


								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">CTH</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.GEN_CTH}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">NOU</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.NOU}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">NETWT</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.NETWT}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">DECL_VAL</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.DECL_VAL}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">CURRCD</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.CURRCD}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">ORGN_CD</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.ORIGCNTRYCD}"></p>
									</div>

								</div>
							</div>
							<div class="bg_item mt-1">
								<div class="form-group row ">
									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_NOTN</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_NOTN}">
									</div>
									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_NSNO</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_NSNO}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_RTA</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_RTA}">
									</div>
								</div>

								<div class="form-group row ">
									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_AMT</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_AMT}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_AMT_FG</label> <input type="text"
											class="form-control form_txt " readonly="readonly"
											th:value="${s1.BCD_AMT_FG}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_NOTN</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_NOTN}">
									</div>
								</div>

								<div class="form-group row ">
									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_NSNO</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_NSNO}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_RTA</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_RTA}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_AMT</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_AMT}">
									</div>

								</div>

								<div class="form-group row ">

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_AMT_FG</label> <input type="text"
											class="form-control form_txt " readonly="readonly"
											th:value="${s1.IGST_AMT_FG}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_NOTN</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_NOTN}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_NSNO</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_NSNO}">
									</div>

								</div>
								<div class="form-group row">



									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_RTA</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_RTA}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_AMT</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_AMT}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_AMT_FG</label> <input type="text"
											class="form-control form_txt " readonly="readonly"
											th:value="${s1.SW_AMT_FG}">
									</div>


								</div>
							</div>
							<div class="bg_item mt-1">
								<div class="form-group row mt-2">
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">RATE</label>
									<div class="col-sm-3">
										<input type="text" class="form-control form_txt"
											readonly="readonly" th:value="${s1.RATE}">
									</div>
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">DUTY</label>
									<div class="col-sm-3">
										<input type="text" class="form-control form_txt"
											readonly="readonly" th:value="${s1.DUTY}">
									</div>
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">DUTY FG</label>
									<div class="col-sm-3">
										<input type="text" class="form-control form_txt"
											readonly="readonly" th:value="${s1.DUTY_FG}">
									</div>
								</div>
							</div>

						</div>
						<hr>
					</div>
				</div>



				<!-- Assessed Details -->

				<div class="col-sm-6">
					<div th:each="s1,iter : ${check}">
						<div class="col-md-12"
							style="background: #B0B0B0; border-radius: 8px; padding: 10px;">
							<div class="bg_item">
								<div class="form-group row mt-2">
									<p class="col-sm-1 lab_txt col-form-label">ITEM</p>
									<div class="col-sm-2">
										<p style="font-weight: 700" th:text="${iter.index+1}"></p>
									</div>
									<p class="col-sm-1 lab_txt col-form-label">DESC</p>
									<div class="col-sm-8">
										<p style="font-weight: 700" th:text="${s1.ITEM_DESC}">
									</div>
								</div>


								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">CTH</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.GEN_CTH}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">NOU</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.NOU}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">NETWT</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.NETWT}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">DECL_VAL</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.DECL_VAL}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">CURRCD</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.CURRCD}"></p>
									</div>

								</div>

								<div class="form-group row ">
									<p class="col-sm-2 lab_txt col-form-label">ORGN_CD</p>
									<div class="col-sm-10">
										<p style="font-weight: 700" th:text="${s1.ORIGCNTRYCD}"></p>
									</div>

								</div>
							</div>
							<div class="bg_item mt-1">
								<div class="form-group row ">
									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_NOTN</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_NOTN}">
									</div>
									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_NSNO</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_NSNO}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_RTA</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_RTA}">
									</div>
								</div>

								<div class="form-group row ">
									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_AMT</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.BCD_AMT}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">BCD_AMT_FG</label> <input type="text"
											class="form-control form_txt " readonly="readonly"
											th:value="${s1.BCD_AMT_FG}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_NOTN</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_NOTN}">
									</div>
								</div>

								<div class="form-group row ">
									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_NSNO</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_NSNO}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_RTA</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_RTA}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_AMT</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.IGST_AMT}">
									</div>

								</div>

								<div class="form-group row ">

									<div class="col-md-4" align="center">
										<label class="lab_txt">IGST_AMT_FG</label> <input type="text"
											class="form-control form_txt " readonly="readonly"
											th:value="${s1.IGST_AMT_FG}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_NOTN</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_NOTN}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_NSNO</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_NSNO}">
									</div>

								</div>
								<div class="form-group row ">



									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_RTA</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_RTA}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_AMT</label> <input type="text"
											class="form-control form_txt" readonly="readonly"
											th:value="${s1.SW_AMT}">
									</div>

									<div class="col-md-4" align="center">
										<label class="lab_txt">SW_AMT_FG</label> <input type="text"
											class="form-control form_txt " readonly="readonly"
											th:value="${s1.SW_AMT_FG}">
									</div>


								</div>
							</div>
							<div class="bg_item mt-1">
								<div class="form-group row mt-2">
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">RATE</label>
									<div class="col-sm-3">
										<input type="text" class="form-control form_txt"
											readonly="readonly" th:value="${s1.RATE}">
									</div>
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">DUTY</label>
									<div class="col-sm-3">
										<input type="text" class="form-control form_txt"
											readonly="readonly" th:value="${s1.DUTY}">
									</div>
									<label for="inputPassword"
										class="col-sm-1 lab_txt col-form-label">DUTY FG</label>
									<div class="col-sm-3">
										<input type="text" class="form-control form_txt"
											readonly="readonly" th:value="${s1.DUTY_FG}">
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>

			</div>

		</div>

	</div>

</body>
</html>
