<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:replace="/header :: header"></head>
<style>
.numradius {
	border: 2px solid black;
	background-color: white;
	color: black;
}

.card-body {
	height: 200px;
}
</style>
<body style="background: #d6dcd9">

	<div class="container" style="background-color: #f8f9fa; border-right: 4px solid rgb(74, 223, 131); border-radius: 10px;">
		<div class="mt-4" align="center">
			<h2>View </h2>
		</div>
		<div>
			<a href="dash"><button type="button" class="btn btn-info">Back
					to Dashboard</button> </a>
		</div>
		<br>
		<table class="table table-bordered" id="asstTable">
			<thead>
				<tr>
					<th scope="col">Sl.No.</th>
					<th scope="col">CIN No.</th>
					<th scope="col">ITEM_ID.</th>
					<th scope="col">Date</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1,iter : ${check}">
					<td th:text="${iter.index+1}">1</td>
					<td th:text="${s1.id}">464654654</td>
					<td th:text="${s1.ITEM_ID}">5648912</td>
					<td th:text="${s1.POSTINGDT}">01.01.2020</td>
					<td align="center">
					
					<i class="fa fa-eye" aria-hidden="true"	th:id="${s1.id}" onclick="viewDetail(this);"></i> 
					<!-- <i class="fas fa-edit" aria-hidden="true" th:id="${s1.id}"	onclick="viewEdit(this);"></i> -->
					
					</td>
				</tr>


			</tbody>
		</table>
		<br>
	</div>
</body>
</html>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#asstTable").dataTable({
			"processing" : true,
			"paging" : true
		});
	});

	function viewDetail(e) {
		//alert(e.id);
		window.location.href = "/main_view?id=" + e.id;
	}

	/* function viewEdit(e) {
		window.location.href = "/asse_edit?id=" + e.id;
	} */
</script>
